@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");
/*HEADER*/
.color {
  background-color: #e6dbd1; }
  .color .logo {
    font-family: 'Playfair Display SC', serif;
    font-size: 150%; }
  .color .div__nav {
    margin-left: 30%; }
    .color .div__nav .colorF {
      font-family: 'Playfair Display SC', serif;
      color: black;
      letter-spacing: 2px; }

/*FOOTER*/
.colorFot {
  background-color: #e6dbd1; }
  .colorFot .div__fot {
    text-align: center;
    font-family: "Nuosu SIL", serif; }
    .colorFot .div__fot .div__fot2 {
      margin-left: 5%; }
      .colorFot .div__fot .div__fot2 .div__a {
        font-weight: bold;
        text-decoration: none;
        color: #4e443c; }

.logito {
  color: #4e443c; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*ESTILOS COMPARTIDOS*/
.main {
  background-color: #e6dbd1;
  overflow-x: hidden; }

/*EFECTOS*/
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*MAIN INDEX*/
/*Portada*/
.carousel_1 {
  width: 100%;
  height: 85vh;
  background-color: #cdc2bc; }
  .carousel_1 .img_portada {
    width: 500px; }

.carousel_2 {
  width: 100%;
  height: 85vh;
  background-color: #c0bbb7; }
  .carousel_2 .img_portada {
    width: 500px;
    height: 500px;
    width: 500px; }

.texto_portada {
  /*Estilos Portada1*/
  /*Estilos Portada2*/
  /*Estilos Detalles*/ }
  .texto_portada .coresix_estilos hr.borde1_estilo {
    border-top: 1px solid #30190e; }
  .texto_portada .coresix_estilos .core_font {
    font-family: "Playfair Display SC", serif;
    font-size: 300%;
    color: #30190e;
    text-align: start; }
  .texto_portada .devilsnight_estilos hr.borde2_estilo {
    border-top: 1px solid  black; }
  .texto_portada .devilsnight_estilos .devil_font {
    font-family: "Playfair Display SC", serif;
    font-size: 300%;
    color: black;
    text-align: start; }
  .texto_portada .detalle {
    text-align: center; }
    .texto_portada .detalle .texto_detalle, .texto_portada .detalle .texto_detalle2 {
      font-family: "Nuosu SIL", serif;
      font-size: large;
      color: #30190e; }
    .texto_portada .detalle .button_detalle, .texto_portada .detalle .button_detalle2 {
      background-color: #30190e;
      border-radius: 5%;
      width: 30%;
      font-family: "Playfair Display SC", serif;
      font-size: medium;
      color: white; }
    .texto_portada .detalle .texto_detalle2 {
      color: black; }
    .texto_portada .detalle .button_detalle2 {
      background-color: black; }

/*Section 1*/
.video {
  width: 90%; }

.titulo_main {
  text-decoration: none;
  font-family: "Playfair Display SC", serif; }

.texto1_main {
  font-family: "Nuosu SIL", serif;
  font-size: auto;
  color: black; }

/*Section 2*/
.section2_main {
  background-color: #cdc2bc; }
  .section2_main .titulo__section2 {
    text-align: center;
    font-family: "Playfair Display SC", serif;
    font-size: 150%;
    color: black; }
  .section2_main .imagen_section2 {
    display: block;
    width: 400px;
    height: 400px; }
  .section2_main .container__section2 {
    position: relative;
    width: 50%; }
    .section2_main .container__section2:hover .overlay {
      opacity: 1; }
    .section2_main .container__section2 .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .5s ease;
      background-color: #c0bbb7;
      width: 400px;
      height: 400px; }
      .section2_main .container__section2 .overlay .texto__section2 {
        font-family: "Playfair Display SC", serif;
        font-size: auto;
        color: #4e443c;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center; }

/*MAIN PRODUCTOS*/
/*Portada*/
.portada__productos {
  width: 95vw;
  height: 65vh;
  background-color: #ab9d95; }
  .portada__productos .intro_vela1 {
    text-align: center;
    margin-top: 25%;
    font-family: "Playfair Display SC", serif;
    font-size: 250%;
    color: #fff9ed; }
  .portada__productos .intro__vela2 {
    text-align: center;
    font-size: 100%;
    color: #fff9ed; }
  .portada__productos .img__productos {
    width: 100%;
    height: 100%; }

/*Titulo de Colecciones*/
.titulos {
  font-family: "Nuosu SIL", serif;
  font-size: auto;
  color: #fff9ed;
  background-color: #c0bbb7;
  height: 10%;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1; }
  .titulos .intro_vela {
    text-align: center;
    font-size: 250%;
    color: #fff9ed; }

/*Productos*/
.img__velas {
  width: 300px;
  height: 300px;
  transition: all .5s;
  margin-top: 5%; }
  .img__velas:hover {
    transform: scale(1.1); }

/*MAIN LOCALES*/
/*Portada Locales*/
.portada_locales {
  width: 95vw;
  height: 50vh;
  background-color: #ab9d95; }
  .portada_locales .intro__locales {
    font-family: "Playfair Display SC", serif;
    font-size: auto;
    color: #fff9ed;
    text-align: center;
    margin-top: 20%; }
  .portada_locales .intro__locales2 {
    font-family: "Playfair Display SC", serif;
    font-size: auto;
    color: #fff9ed;
    text-align: center;
    padding: 5%; }

/*Locales*/
.section__locales {
  background-color: #c0bbb7; }
  .section__locales .div__local {
    margin-left: 13%; }
    .section__locales .div__local .try3 {
      text-align: center; }
      .section__locales .div__local .try3 .horarios {
        font-weight: bold; }
  .section__locales .img__local {
    width: 550px;
    height: 550px; }
  .section__locales .local_1 {
    background-color: #4f954f;
    font-family: "Nuosu SIL", serif;
    font-size: auto;
    color: #fff9ed;
    text-align: center; }
  .section__locales .datos__locales {
    text-align: center; }
    .section__locales .datos__locales .horarios {
      font-weight: bold; }
  .section__locales .local_2 {
    background-color: #792f2f;
    font-family: "Nuosu SIL", serif;
    font-size: auto;
    color: #fff9ed;
    text-align: center; }

/*MAIN CONTACTO*/
/*Portada*/
.portada__contacto {
  width: 95vw;
  height: auto;
  background-color: #ab9d95; }
  .portada__contacto .intro_vela1 {
    text-align: center;
    margin-top: 25%;
    font-family: "Playfair Display SC", serif;
    font-size: 250%;
    color: #fff9ed; }
  .portada__contacto .intro__vela2 {
    text-align: center;
    font-size: 100%;
    color: #fff9ed; }
  .portada__contacto .img__contacto {
    width: 100%;
    height: auto; }

/*Introduccion*/
.intro_contacto {
  width: 100%;
  height: 15%;
  font-family: "Nuosu SIL", serif;
  font-size: auto;
  color: white;
  background-color: #ab9d95;
  margin-top: 10%; }

.intro_contacto2 {
  font-family: "Nuosu SIL", serif;
  font-size: auto;
  color: black; }

/*Formulario*/
.form_contacto {
  width: 50%;
  margin-left: 25%; }
  .form_contacto .prueba2 {
    background-color: #96887d;
    font-family: "Nuosu SIL", serif;
    font-size: auto;
    color: white; }

/*MAIN LOGIN*/
.principal {
  background-color: #837367;
  font-family: "Nuosu SIL", serif;
  font-size: auto;
  color: #fff9ed;
  text-align: center; }

.img__log {
  width: 400px;
  height: 400px; }

@media (max-width: 575px) {
  .logo {
    text-align: center; }
  /*INDEX*/
  /*Portada*/
  .carousel_1 {
    width: 100%;
    height: auto;
    background-color: #cdc2bc; }
    .carousel_1 .img_portada {
      width: 450px;
      height: 400px;
      padding: 10%;
      margin-left: 3%; }
  .texto_portada {
    margin-top: 5%; }
    .texto_portada .core_font {
      font-family: "Playfair Display SC", serif;
      font-size: 100%;
      color: #30190e;
      text-align: center; }
  /*Section 1*/
  .video {
    width: 70%;
    margin-left: 17%; }
  .introduccion {
    width: 100%;
    text-align: center;
    margin-left: 5%;
    padding-bottom: 5%; }
  /*Seccion 2*/
  .section2_main .imagen_section2 {
    display: block;
    width: 300px;
    height: 300px;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%; }
  .section2_main .container__section2 .overlay {
    width: 300px;
    height: 300px;
    margin-left: 25%; }
  .section__locales .img__local {
    width: 300px;
    height: 300px; }
  /*PRODUCTOS*/
  /*Portada*/
  .portada__productos {
    width: auto;
    height: auto;
    margin-right: 3%; }
    .portada__productos .intro__vela2 {
      margin-bottom: 25%; }
    .portada__productos .img__productos {
      width: 90%;
      height: 90%; }
  /*Section 1*/
  .img__velas {
    width: 200px;
    height: 200px; }
  /*LOGIN*/
  .img__log {
    display: none; }
  .form_login {
    width: 70vw;
    height: auto; }
  /*LOCALES*/
  .portada_locales {
    width: 80vw;
    height: auto;
    margin-left: 9%; }
    .portada_locales .intro__locales {
      margin-bottom: 10%; }
  /*Locales*/
  .section__locales .img__local {
    width: 300px;
    height: 350px; }
  .section__locales .local_1 {
    margin-top: 10%; }
  .section__locales .local_2 {
    margin-top: 10%; }
  /*COTACTO*/
  /*Portada*/
  .portada__contacto {
    width: auto;
    height: auto;
    margin-right: 3%; }
    .portada__contacto .intro__vela2 {
      margin-bottom: 25%; }
    .portada__contacto .img__contacto {
      width: 100%;
      height: 100%; }
  .form_contacto {
    margin-left: 5%;
    width: 90%; }
  .header__otros {
    display: none; } }

@media (min-width: 576px) and (max-width: 767px) {
  /*INDEX*/
  /*Portada*/
  .carousel_1 {
    width: 100%;
    height: auto;
    background-color: #cdc2bc; }
    .carousel_1 .img_portada {
      width: 100%;
      height: 100%; }
  .texto_portada {
    margin-top: 5%;
    margin-bottom: 5%; }
    .texto_portada .coresix_estilos .core_font {
      font-family: "Playfair Display SC", serif;
      font-size: 250%;
      color: #30190e; }
    .texto_portada .devilsnight_estilos .devil_font {
      font-family: "Playfair Display SC", serif;
      font-size: 10%;
      color: black; }
  /*Section 1*/
  .video {
    width: 70%;
    margin-left: 17%; }
  .introduccion {
    width: 100%;
    text-align: center;
    margin-left: 5%;
    padding-bottom: 5%; }
  /*Seccion 2*/
  .section2_main .imagen_section2 {
    display: block;
    width: 400px;
    height: 400px;
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 5%; }
  .section2_main .container__section2 .overlay {
    width: 400px;
    height: 400px;
    margin-left: 45%; }
  /*PRODUCTOS*/
  /*Portada*/
  .portada__productos {
    width: auto;
    height: auto;
    margin-right: 3%; }
    .portada__productos .intro_vela1 {
      margin-top: 35%; }
    .portada__productos .img__productos {
      width: 90%;
      height: 90%; }
  /*Section 1*/
  .img__velas {
    width: 250px;
    height: 250px; }
  /*LOGIN*/
  .img__log {
    display: none; }
  .form_login {
    width: 70vw;
    height: auto; }
  /*LOCALES*/
  .portada_locales {
    width: 95vw;
    height: auto;
    margin-left: 1%; }
    .portada_locales .intro__locales {
      margin-bottom: 5%; }
  /*Locales*/
  .section__locales .img__local {
    width: 400px;
    height: 400px;
    margin-left: 9%; }
  .section__locales .local_1 {
    margin-top: 10%; }
  .section__locales .local_2 {
    margin-top: 10%; }
  /*CONTACTO*/
  .portada__contacto {
    width: auto;
    height: auto;
    margin-right: 3%; }
    .portada__contacto .intro__vela2 {
      margin-bottom: 25%; }
    .portada__contacto .img__contacto {
      width: 100%;
      height: 100%; }
  .form_contacto {
    margin-left: 10%;
    width: 80%; }
  .header__otros {
    display: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  /*INDEX*/
  /*Portada*/
  .carousel_1 {
    width: 100%;
    height: auto;
    background-color: #cdc2bc; }
    .carousel_1 .img_portada {
      width: 100%;
      height: 100%; }
  .texto_portada {
    margin-top: 5%;
    margin-bottom: 5%; }
    .texto_portada .coresix_estilos .core_font {
      font-family: "Playfair Display SC", serif;
      font-size: 250%;
      color: #30190e; }
  /*Seccion 1*/
  .titulo_main {
    margin-top: 5%; }
  .video {
    width: 70%;
    margin-left: 18%; }
  /*Seccion 2*/
  .section2_main .imagen_section2 {
    display: block;
    width: 250px;
    height: 250px;
    margin-top: 5%;
    margin-bottom: 5%; }
  .section2_main .container__section2 .overlay {
    width: 250px;
    height: 250px; }
    .section2_main .container__section2 .overlay .texto__section2 {
      font-family: "Playfair Display SC", serif;
      font-size: 80%;
      color: #4e443c; }
  /*PRODUCTOS*/
  /*Portada*/
  .portada__productos {
    width: auto;
    height: auto;
    margin-right: 3%; }
    .portada__productos .intro_vela1 {
      margin-top: 35%; }
    .portada__productos .img__productos {
      width: 90%;
      height: 90%; }
  /*Section 1*/
  .img__velas {
    width: 250px;
    height: 250px; }
  /*LOGIN*/
  .img__log {
    width: 300px;
    height: 350px; }
  /*LOCALES*/
  .portada_locales {
    width: 90vw;
    height: auto;
    margin-left: 4%; }
    .portada_locales .intro__locales {
      margin-bottom: 5%; }
  /*Locales*/
  .section__locales .img__local {
    width: 450px;
    height: 450px;
    margin-left: 10%; }
  .section__locales .local_1 {
    margin-top: 10%; }
  .section__locales .local_2 {
    margin-top: 10%; }
  /*CONTACTO*/
  /*Portada*/
  .portada__contacto {
    width: auto;
    height: auto;
    margin-right: 3%; }
    .portada__contacto .intro__vela2 {
      margin-bottom: 25%; }
    .portada__contacto .img__contacto {
      width: 100%;
      height: 100%; }
  .form_contacto {
    margin-left: 10%;
    width: 80%; }
  .header__otros {
    display: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  /*Header*/
  .color .div__nav {
    margin-left: 15%; }
  /*INDEX*/
  /*Portada*/
  .carousel_1 {
    width: 100%;
    height: 90vh;
    background-color: #cdc2bc; }
    .carousel_1 .img_portada {
      width: 400px;
      height: 400px; }
  /*Seccion 2*/
  .section2_main .imagen_section2 {
    display: block;
    width: 300px;
    height: 300px;
    padding: 5%; }
  .section2_main .container__section2 .overlay {
    width: 300px;
    height: 300px;
    padding: 5%; }
    .section2_main .container__section2 .overlay .texto__section2 {
      font-family: "Playfair Display SC", serif;
      font-size: 100%;
      color: #4e443c; }
  /*PRODUCTOS*/
  /*Portada*/
  .portada__productos {
    width: auto;
    height: auto;
    margin-right: 3%; }
    .portada__productos .intro_vela1 {
      margin-top: 35%; }
    .portada__productos .img__productos {
      width: 90%;
      height: 90%; }
  /*Section 1*/
  .img__velas {
    width: 250px;
    height: 250px; }
  /*LOGIN*/
  .img__log {
    width: 350px;
    height: 400px;
    margin: 0%; }
  /*LOCALES*/
  .portada_locales {
    width: 95vw;
    height: auto; }
    .portada_locales .intro__locales {
      margin-bottom: 5%; }
  /*Locales*/
  .section__locales .img__local {
    width: 450px;
    height: 500px; }
  .section__locales .local_1 {
    margin-left: 10%;
    padding: 5%; }
  .section__locales .local_2 {
    margin-left: 10%;
    padding: 35%; }
  /*CONTACTO*/
  .form_contacto {
    margin-left: 10%;
    width: 80%; } }
