
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
/*ESTILOS COMPARTIDOS*/
.main{
    background-color: map-get($mapa-colores,colormains);
    overflow-x: hidden;
    
}
/*EFECTOS*/
@keyframes aparecer {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }  
}
/*MAIN INDEX*/

   /*Portada*/
.carousel_1{
    @include portada (100%,85vh,#cdc2bc);
    .img_portada{
        @include medidas (450px,450px);
    }
}

.texto_portada{
        /*Estilos Portada1*/
        margin: 0%;
    .coresix_estilos{
        hr.borde1_estilo{
            border-top: 1px solid #30190e;
        }
        .core_font{
            @include font ($fontFamily3,300%,#30190e);
            text-align: start;
        }
              
    }
           /*Estilos Portada2*/
    .devilsnight_estilos{
        hr.borde2_estilo{
            border-top: 1px solid  black;
        }
        .devil_font{
            @include font ($fontFamily3,300%,black);
            text-align: start;  
        }
    }
            /*Estilos Detalles*/
    .detalle{
        text-align: center;
        .texto_detalle{
            @include font ($fontFamily,large,#30190e);
        }
        .button_detalle{
            text-decoration: none;
            background-color: #30190e;
            border-radius: 5%;
            width: 30%;
            @include font ($fontFamily3,medium,white);    
        }
        .texto_detalle2{
            @extend .texto_detalle;
            color: black;
        }
        .button_detalle2{
            @extend .button_detalle;
            background-color: black;
        }
    } 
}
   /*Section 1*/
.video{
    width: 90%;
}
.titulo_main{
    text-decoration: none;
    font-family:$fontFamily3;
}
.texto1_main{
    @include font ($fontFamily,auto,black); 
}
  /*Section 2*/
.section2_main{
    background-color: #cdc2bc;
    .titulo__section2{
        text-align: center;
        @include font ($fontFamily3,150%,black);
    }
    .imagen_section2 {
        display: block;
        @include medidas(350px,350px);
    }
    .container__section2 {
        position: relative;
        width: 50%;
        &:hover {
            .overlay {
                opacity: 1;
            }
        }
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition: .5s ease;
            background-color: #c0bbb7;
            @include medidas(350px,350px); 
            .texto__section2 {
                @include font ($fontFamily3,auto,$fontColor2);
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }  
        }
    }
}
/*MAIN PRODUCTOS*/

/*Portada*/
.portada__productos{
    @include medidas(95vw,65vh);
    background-color:map-get($mapa-colores,marron);
    .intro_vela1{
        text-align: center;
        margin-top: 25%;
        @include font ($fontFamily3,250%,#fff9ed);
    }
    .intro__vela2{
        text-align: center;
        font-size: 100%;
        color: #fff9ed;
    } 
    .img__productos{
        @include medidas(100%,100%) 
    } 
}
/*Titulo de Colecciones*/
.titulos{
    @include font ($fontFamily,auto,#fff9ed);
    background-color:#c0bbb7;
    height: 10%;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    .intro_vela{
        text-align: center;
        font-size: 250%;
        color:  #fff9ed;
    }
}
/*Productos*/
.img__velas {
    @include medidas(300px,300px);
	transition: all .5s;
	margin-top: 5%;
	&:hover {
		transform: scale(1.1);
	}
}

/*MAIN LOCALES*/

/*Portada Locales*/
.portada_locales{
    @include medidas(95vw,50vh);
    background-color:map-get($mapa-colores,marron);
    .intro__locales{
        @include font ($fontFamily3,auto,#fff9ed);
        text-align: center;
        margin-top: 20%;
    }
    .intro__locales2{
        @include font ($fontFamily3,auto,#fff9ed);
        text-align: center;
        padding: 5%;
    }   
}
/*Locales*/
.section__locales{
    background-color: #c0bbb7;
    .try3{
        text-align: center;
        .horarios{
             font-weight: bold;
        }
    }
    .img__local{
        @include medidas(500px,500px);
    }
    .local_1{
        margin-top: 10%;
        background-color: #4f954f;
        width: 100%;
        @include font ($fontFamily,auto,#fff9ed);
        text-align: center;
    }
    .datos__locales{
        text-align: center;
        .horarios{
            font-weight: bold;
        }
    }
    .local_2{
        background-color: #792f2f;
        @include font ($fontFamily,auto,#fff9ed);
        text-align: center;
    }
    
}

/*MAIN CONTACTO*/

/*Portada*/
.portada__contacto{
    @include medidas(95vw,auto);
    background-color:map-get($mapa-colores,marron);
    .intro_vela1{
        text-align: center;
        margin-top: 25%;
        @include font ($fontFamily3,250%,#fff9ed);
    }
    .intro__vela2{
        text-align: center;
        font-size: 100%;
        color: #fff9ed;
    } 
    .img__contacto{
        @include medidas(100%,auto) 
    } 
}

/*Introduccion*/
.intro_contacto{
    @include medidas (100%,15%);
    @include font ($fontFamily,auto,white);
    background-color:map-get($mapa-colores,marron);
    margin-top: 10%;
}
.intro_contacto2{
    @include font ($fontFamily,auto,black);
}
/*Formulario*/
.form_contacto{
    width: 50%;
    margin-left: 25%;   
    .prueba2{
        background-color: #96887d;
        @include font ($fontFamily,auto,white);
    }
}

/*MAIN LOGIN*/
.principal{
    background-color:map-get($mapa-colores,marron);
    @include font ($fontFamily,auto,#fff9ed);
    text-align: center;
}
.img__log{
    @include medidas(400px,400px)
}
.form__log {
    width: 100%;
}





