
@media (max-width: 575px){
    .main{
        overflow-x: hidden;
    }
    .logito{
        color:$fontColor2;   
    }
    .main{
        width: 100%;
        background-color: map-get($mapa-colores,colormains);
        overflow-x: hidden;
    }
    .logo{
        text-align: center;
    }
    .header__otros1{
        display: none;
    }
    /*INDEX*/
    /*Portada*/
    .carousel_1{
        @include portada (100%,auto,#cdc2bc);
        .img_portada{
            @include medidas (300px,300px);
        }
    }
    .texto_portada{
        margin-top: 5%;
        .core_font{
            @include font ($fontFamily3,50%,#30190e);
            text-align: center;
        }
    }
    /*Section 1*/
    .video{
        width: 70%;
        margin-left: 17%;
    }
    .introduccion{
        width: 100%;
        text-align: center;
        margin-left: 5%;
        padding-bottom: 5%;
    }
    /*Seccion 2*/
    .section2_main{
        .imagen_section2 {
            display: block;
            @include medidas(300px,300px);       
        }
        .container__section2{
            .overlay{
                @include medidas(300px,300px);
            }
        }

    }
    .section__locales{
        .img__local{
            @include medidas(300px,300px)
        }
    }
    /*PRODUCTOS*/
    /*Portada*/
    .portada__productos{
        @include medidas(auto,auto);
        margin-right: 3%;
        .intro__vela2{
            margin-bottom: 25%;
        }
        .img__productos{
            @include medidas(90%,90%) 
        } 
    }
    /*Section 1*/
    .img__velas{
        @include medidas(175px,175px);
        padding: 5%;
    } 
     /*LOGIN*/
     .img__log{
        display: none;
    }
    .form_login{
        @include medidas(70vw,auto)
    }
    /*LOCALES*/
    .portada_locales{
        @include medidas(80vw,auto);
        margin-left: 9%;
        .intro__locales{
           margin-bottom: 10%; 
        }
    }
    /*Locales*/
   .section__locales{
     .img__local{
        @include medidas(250px,250px)
     }
    }

    /*COTACTO*/
    /*Portada*/
    .portada__contacto{
        @include medidas(auto,auto);
        margin-right: 3%;
        .intro__vela2{
            margin-bottom: 25%;
        }
        .img__contacto{
            @include medidas(100%,100%); 
        } 
    }
    .form_contacto{
        margin-left: 5%;
        width: 90%;    
    } 
    
    .header__otros{
        display: none;
    }
    /*LOGIN*/
    .form__log {
        width: auto;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .header__otros1{
        display: none;
    }
    .main{
        background-color: map-get($mapa-colores,colormains);
        overflow-x: hidden;
    }
    /*INDEX*/
    /*Portada*/
    .carousel_1{
        @include portada (100%,auto,#cdc2bc);
        .img_portada{
            @include medidas (300px,300px);  
        }
    }
    .texto_portada{
        margin-top: 5%;
        .coresix_estilos{
            .core_font{
                @include font ($fontFamily3,300%,#30190e);
            }
        }
    }
    /*Section 1*/
    .video{
        width: 70%;
        margin-left: 17%;
    }
    .introduccion{
        width: 100%;
        text-align: center;
        margin-left: 5%;
        padding-bottom: 5%;
    }
     /*Seccion 2*/
    .section2_main{
        .imagen_section2 {
            display: block;
            @include medidas(400px,400px);
        }
        .container__section2{
            .overlay{
                @include medidas(400px,400px);
            }
        }
    
    }

    /*PRODUCTOS*/
    /*Portada*/
    .portada__productos{
        @include medidas(auto,auto);
        margin-right: 3%;
        .intro_vela1{
            margin-top: 35%;
        }
        .img__productos{
            @include medidas(90%,90%) 
        } 
    }
    /*Section 1*/
    .img__velas{
        @include medidas(200px,200px);
        padding: 5%;
    } 

    /*LOGIN*/
    .img__log{
      display: none; 
    }
    .form_login{
        @include medidas(70vw,auto)
    }
    .form__log {
        width: auto;
    }
    /*LOCALES*/
    .portada_locales{
        @include medidas(95vw,auto);
        margin-left: 1%;
        .intro__locales{
           margin-bottom: 5%; 
        }
    }
    /*Locales*/
   .section__locales{
     .img__local{
        @include medidas(400px,400px);
     }
    }
    /*CONTACTO*/
    .portada__contacto{
        @include medidas(auto,auto);
        margin-right: 3%;
        .intro__vela2{
            margin-bottom: 25%;
        }
        .img__contacto{
            @include medidas(100%,100%) 
        } 
    }
    .form_contacto{
        margin-left: 10%;
        width: 80%;    
    } 
    
    .header__otros{
        display: none;
    }
  
}
@media (min-width: 768px) and (max-width: 991px){
    .header__otros1{
        display: none;
    }
        /*INDEX*/
    /*Portada*/
    .carousel_1{
        @include portada (100%,70vh,#cdc2bc);
        .img_portada{
            @include medidas (275px,275px);  
        }
    }
    
    .texto_portada{
       
        .coresix_estilos{
            .core_font{
                @include font ($fontFamily3,200%,#30190e);
            }
        }
    }
    /*Seccion 1*/
    .titulo_main{
        margin-top: 5%;
    }
    .video{
        width: 70%;
        margin-left:18%;
    }
    /*Seccion 2*/
    .section2_main{
        .imagen_section2 {
            display: block;
            @include medidas(230px,230px);
        }
        .container__section2{
            .overlay{
                @include medidas(230px,230px);
                .texto__section2 {
                    @include font ($fontFamily3,80%,$fontColor2);
                }
            }
        }
    
    }
    
    /*PRODUCTOS*/
    /*Portada*/
    .portada__productos{
        @include medidas(auto,auto);
        margin-right: 3%;
        .intro_vela1{
            margin-top: 35%;
        }
        .img__productos{
            @include medidas(90%,90%) 
        } 
    }
    /*Section 1*/
    .img__velas{
        @include medidas(250px,250px);
    } 
    /*LOGIN*/
    .img__log{
        @include medidas(250px,300px);
      
    }
    

    /*LOCALES*/
    .portada_locales{
        @include medidas(90vw,auto);
        margin-left: 4%;
        .intro__locales{
           margin-bottom: 5%; 
        }
    }
    /*Locales*/
   .section__locales{
     .img__local{
        @include medidas(450px,450px);
     }

    }
    /*CONTACTO*/
    /*Portada*/
    .portada__contacto{
        @include medidas(auto,auto);
        margin-right: 3%;
        .intro__vela2{
            margin-bottom: 25%;
        }
        .img__contacto{
            @include medidas(100%,100%) 
        } 
    }
    .form_contacto{
        margin-left: 10%;
        width: 80%;    
    } 
    
    

    .header__otros{
        display: none;
    }



}
@media (min-width: 992px) and (max-width: 1199px){
    /*Header*/
    .color{
        .div__nav{
            margin-left: 15%;
        }
    }
    /*INDEX*/
    /*Portada*/
    .carousel_1{
        @include portada (100%,85vh,#cdc2bc);
        .img_portada{
            @include medidas (350px,350px);  
        }
    }
    /*Seccion 2*/
    .section2_main{
        .imagen_section2 {
            display: block;
            @include medidas(300px,300px);
            
        }
        .container__section2{
            .overlay{
                @include medidas(300px,300px);
                
                .texto__section2 {
                    @include font ($fontFamily3,100%,$fontColor2);
                }
            }
        }
    
    }

    /*PRODUCTOS*/
    /*Portada*/
    .portada__productos{
        @include medidas(auto,auto);
        margin-right: 3%;
        .intro_vela1{
            margin-top: 35%;
        }
        .img__productos{
            @include medidas(90%,90%) 
        } 
    }
    /*Section 1*/
    .img__velas{
        @include medidas(250px,250px);
    } 
      /*LOGIN*/
    .img__log{
        @include medidas(350px,400px);
        margin: 0%; 
    }
     /*LOCALES*/
     .portada_locales{
        @include medidas(95vw,auto);
        .intro__locales{
           margin-bottom: 5%; 
        }
    }
    /*Locales*/
   .section__locales{
     .img__local{
        @include medidas(450px,450px);
     }

    }
   /*CONTACTO*/ 
    .form_contacto{
        margin-left: 10%;
        width: 80%;    
    }   

}