@mixin medidas ($ancho,$alto) {
    width:$ancho;
    height:$alto;  
}

@mixin font ($estilo-letra,$font-size,$font-color) {
    font-family: $estilo-letra;
    font-size: $font-size;
    color: $font-color;
}

@mixin portada ($ancho_portada,$alto_portada,$color_fondo) {
    width: $ancho_portada;
    height: $alto_portada;
    background-color: $color_fondo;
}