
$bgFooter: background-color(#ebd9cb);
$bgHeader: background-color(#fff5ea);
$bgMain:background-image(linear-gradient(to bottom, #fff9ed, #fef5e9, #fcf2e4, #fbeee0, #faeadc, #ddcfc2, #dfcbbc, #dac8ba, #d3c2b5, #c4b4a7, #b5a599));
$fontFamily:font-family('Cormorant Garamond', serif);
$fontColor: color(#837367);
$fontColor2:color(#4e443c);
